[core]
	editor = vim
	excludesfile = /home/user/.gitignore
[branch]
	autosetuprebase = always
	sort = -committerdate
[pager]
	diff = true
	branch = false
[submodule]
	recurse = true
[color "diff"]
	old = 9
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[merge]
	conflictStyle = zdiff3
[commit]
	verbose = true
[stash]
	showIncludeUntracked
