[Install]
RequiredBy=docker.service

[Unit]
Description=Workaround for dockerd failing with "Error response from daemon: cgroups: cgroup mountpoint does not exist: unknown"

[Service]
Type=oneshot
ExecStartPre=mkdir -p /sys/fs/cgroup/systemd
ExecStart=/bin/sh -c "mountpoint /sys/fs/cgroup/systemd || mount -t cgroup -o none,name=systemd cgroup /sys/fs/cgroup/systemd"

